<h1>Import Recipes from the Web</h1>
<p>Give me a keyword to search </p>
<form action="/recipe_from_web" method="post">
  <label for="keyword">Keyword:</label><br>
  <input type="text" id="keyword" name="keyword" required><br>
  <input type="submit" value="Chercher !">
</form>
